params {
  outputDir = 'az://nextflow/output'
  input_files = "az://nextflow/file1.txt,az://nextflow/file2.txt"
}

dumpChannels = ['*']

// Nextflow configuration for Azure Batch and Blob storage
profiles {
  standard {
    process {
      // executor = 'azurebatch'
      // machineType = "Standard_D*d_v5,Standard_E*d_v5"
      machineType = "Standard_DS2_v2"
    }
    azure {
      managedIdentity {
        clientId = '4432ed14-8b26-492c-a6c7-41f699d778d2'
      }
      storage {
        accountName = 'cloudpipelineeastus'
      }
      batch {
        location = 'eastus'
        accountName = 'nextflow'
        autoPoolMode = true
      }
    }
  }
}
