params {
  outputDir = 'az://nextflow/output'

  input_files = "az://nextflow/file1.txt,az://nextflow/file2.txt"
}

dumpChannels = ['*']

// Nextflow configuration for Azure Batch and Blob storage
profiles {
  standard {
    process {
      executor = 'azurebatch'
      // machineType = "Standard_D*d_v5,Standard_E*d_v5"
      machineType = "Standard_DS2_v2"
    }
    azure {
      managedIdentity {
        clientId = System.getenv("MANAGED_IDENTITY_CLIENT_ID")
      }
      storage {
        accountName = System.getenv("AZURE_STORAGE_ACCOUNT_NAME")
      }
      batch {
        location = 'eastus'
        accountName = System.getenv("AZURE_BATCH_ACCOUNT_NAME")
        autoPoolMode = true
      }
    }
  }
}
