params {
  outputDir = 'az://nextflow/output'

  input_files = "az://nextflow/file1.txt,az://nextflow/file2.txt"
}

dumpChannels = ['*']

// Nextflow configuration for Azure Batch and Blob storage
profiles {
  standard {
    process {
      executor = 'azurebatch'
      // machineType = "Standard_D*d_v5,Standard_E*d_v5"
      machineType = "Standard_DS2_v2"
    }
    azure {
      batch {
        accountName = 'nextflow'
        location = 'eastus'
      }
      storage {
        accountName = 'cloudpipelineeastus'
        container = 'nextflow'
      }
    
      useManagedIdentity = true
    }
  }
}
